body {
    background: white;
}
img.photo {
    width: 400px;
    ;
}

section.heading_1 {
    font-size: large;
}

section.heading_2 {
    font-size: medium;
}

iframe.thinglink{
    width: 400px;
    height: 400px;
}